$dark-blue: #1b007a;
$cream-white: #fffcec;

body{
  font-family: "Helvetica";
  text-align: center;
  padding: 50px 20px 0;
  background: $cream-white;
  color: $dark-blue;
  margin: 0;
}

h1 {
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h3{
  font-weight: 300;
}

header, footer {
	position: fixed;
	background: $dark-blue;
	width: 100%;	
}

header {
	top: 0;
	left: 0;
}

footer {
	bottom: 0;
	left: 0;
	
	& p {
		margin: 1em 1.5em;
		color: $cream-white;
	}

}

nav {
	text-align: right;
	
	& a {
		display: inline-block;
		color: $cream-white;
		text-decoration: none;
		padding: 1em 1.5em;
		
		&:hover {
			background: darken($dark-blue, 10%);
		}
	}
}